@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
body {
    background-color: #C2C2C2;
    font-family: 'ABeeZee';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main {
    background-color: #1B1E2B;
    color: white;
    display: grid;
    height: 450px;
    width: 350px;
    grid-template-rows: 100px 210px 150px;
    text-align: center;
    border-radius: 35px;
}
#signText {
    display: flex;
    /*background-color: green;*/
    align-items: end;
    justify-content: center;
}
#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*background-color: black;*/
}
input {
    height: 45px;
    width: 70%;
    border-radius: 30px;
    border: solid 4px #000;
    background: inherit;
    font-size: large;
    padding-left: 20px;
    color: #FFF;
}

#send {
    height: 40px;
    width: 75%;
    border-radius: 30px;
    border: 0;
    background-color: #FF4E4E;
    color: white;
    font-size: x-large;
    margin-top: 15px;
}
a {
    color: #FF4E4E;
}